{% extends "base.jinja"%}
{% import "components/search_card.jinja" as search_card %}

{% block content %}
<!-- Start: Search Container -->
<section class="py-5"
    style="padding-bottom: 0px !important;background: linear-gradient(rgba(165,166,246,0.19), rgba(229,220,244,0.18333333333333335) 90%, #ffffff00 100%);">
    <!-- Start: Search -->
    <div class="container d-flex py-5" style="margin-top: 60px;">
        <div class="d-flex flex-column flex-md-row align-items-xxl-center" style="width: 100%;">
            <div style="padding-right: 0px;width: 100%;">
                <h3 class="fw-bold" style="margin-bottom: 24px;">Search for Properties</h3>
                <div>
                    <form class="d-flex flex-column m-auto flex-lg-row" method="get" target="_self"><input
                            class="form-control" type="text" placeholder="City/Province/University Name"
                            style="max-height: 50px;margin-bottom: 10px;margin-right: 10px;" name="query"
                            autocomplete="off" value = {{search_data.query}}>
                        <div class="d-flex flex-wrap align-items-lg-start flex-lg-nowrap"><button
                                class="btn btn-primary" type="submit" style="margin-left: 5px;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                                    fill="currentColor" class="fs-5">
                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                    <path
                                        d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z">
                                    </path>
                                </svg></button><select name="sort"
                                style="background: var(--bs-primary);color: var(--bs-white);font-weight: bold;border-radius: 32px;margin-left: 5px;padding-left: 17px;border: 10px solid var(--bs-primary);max-width: 203px;" >
                                <optgroup label="Sort">
                                    {%if search_data.query == ""%}
                                    <option value="price-asc" selected="">Lowest Price</option>
                                    <option value="price-desc">Highest Price</option>
                                    <option value="location-asc">Closest Distance</option>
                                    <option value="location-desc">Furthest Distance</option>
                                    <option value="name-asc">A-Z</option>
                                    <option value="name-desc">Z-A</option>
                                    {%elif search_data.sort == "price-asc"%}
                                    <option value="price-asc" selected="">Lowest Price</option>
                                    <option value="price-desc">Highest Price</option>
                                    <option value="location-asc">Closest Distance</option>
                                    <option value="location-desc">Furthest Distance</option>
                                    <option value="name-asc">A-Z</option>
                                    <option value="name-desc">Z-A</option>
                                    {%elif search_data.sort == "price-desc"%}
                                    <option value="price-asc">Lowest Price</option>
                                    <option value="price-desc" selected="">Highest Price</option>
                                    <option value="location-asc">Closest Distance</option>
                                    <option value="location-desc">Furthest Distance</option>
                                    <option value="name-asc">A-Z</option>
                                    <option value="name-desc">Z-A</option>
                                    {%elif search_data.sort == "location-asc"%}
                                    <option value="price-asc">Lowest Price</option>
                                    <option value="price-desc">Highest Price</option>
                                    <option value="location-asc" selected="">Closest Distance</option>
                                    <option value="location-desc">Furthest Distance</option>
                                    <option value="name-asc">A-Z</option>
                                    <option value="name-desc">Z-A</option>
                                    {%elif search_data.sort == "location-desc"%}
                                    <option value="price-asc">Lowest Price</option>
                                    <option value="price-desc">Highest Price</option>
                                    <option value="location-asc">Closest Distance</option>
                                    <option value="location-desc" selected="">Furthest Distance</option>
                                    <option value="name-asc">A-Z</option>
                                    <option value="name-desc">Z-A</option>
                                    {%elif search_data.sort == "name-asc"%}
                                    <option value="price-asc">Lowest Price</option>
                                    <option value="price-desc">Highest Price</option>
                                    <option value="location-asc">Closest Distance</option>
                                    <option value="location-desc">Furthest Distance</option>
                                    <option value="name-asc" selected="">A-Z</option>
                                    <option value="name-desc">Z-A</option>
                                    {%elif search_data.sort == "name-desc"%}
                                    <option value="price-asc">Lowest Price</option>
                                    <option value="price-desc">Highest Price</option>
                                    <option value="location-asc">Closest Distance</option>
                                    <option value="location-desc">Furthest Distance</option>
                                    <option value="name-asc" >A-Z</option>
                                    <option value="name-desc" selected="">Z-A</option>
                                    {%endif%}
                                </optgroup>
                            </select><button class="btn btn-primary" type="button"
                                style="min-width: fit-content;margin-left: 5px;">Advance Filter</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- End: Search -->
</section><!-- End: Search Container -->
<section class="py-4">
    <!-- Start: Pricing Duo -->
    <div class="container">
        <div class="row g-0 row-cols-1 row-cols-md-2 row-cols-xl-3 d-flex align-items-md-center align-items-xl-center">
        {% for property in properties%}
            {{ search_card.card(property) }}
        {%endfor%}
        </div>
    </div><!-- End: Pricing Duo -->
</section><!-- Start: Footer Multi Column -->
{% endblock %}