{% macro footer() %}
<footer class="bg-body-gradient">
        <div class="container py-4 py-lg-5">
            <div class="row d-xxl-flex justify-content-center justify-content-xxl-start">
                <!-- Start: Services -->
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-6 fw-bold">Services</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Property Renting</a></li>
                        <li><a href="#">Cleaning Service</a></li>
                        <li><a href="#">Food Catering</a></li>
                    </ul>
                </div><!-- End: Services -->
                <!-- Start: About -->
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-6 fw-bold">About</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                    </ul>
                </div><!-- End: About -->
                <!-- Start: Social Icons -->
                <div
                    class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last item social">
                    <div class="fw-bold d-flex align-items-center mb-2"><span><img class="img-fluid"
                                src="https://r2.radityaharya.me/roomies-logo.svg" width="100" height="auto"></span></div>
                    <p class="text-muted copyright"><span
                            style="color: rgb(53, 55, 64); background-color: var(--green-100);">The perfect way for
                            students to find properties to rent near their campus!</span><br></p>
                </div><!-- End: Social Icons -->
            </div>
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright © 2022 Roomies</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                    
                    <a href="https://github.com/radityaharya/roomies"><i class="fa-brands fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
{% endmacro %}