{% macro navbar(is_logged_in)%}
<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav"
    style="--bs-primary: #A5A6F6;--bs-primary-rgb: 165,166,246;">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span><img class="img-fluid"
                    src="https://r2.radityaharya.me/roomies-logo.svg" width="100" height="auto"></span></a><button
            data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/properties">Properties</a></li>
                <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                <li class="nav-item"></li>
            </ul>
            {% if is_logged_in %}
            <a class="btn btn-primary shadow" role="button" href="/signup">My Account</a>
            {% else %}
            <a class="btn btn-primary shadow" role="button" href="/signup">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endmacro %}